@model IEnumerable<CodeFirstApproachEF.Models.studentDetail>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div>
    @using (Html.BeginForm("Index", "studentDetails", FormMethod.Get)) {
        <div>
            <text>Type the course id to sort by one:</text>@Html.TextBox("ID");
        </div>
        <div>
            <input type="submit" value="ok" />
        </div>
        }
</div>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RollNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cours.CourseName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RollNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cours.CourseName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
